.single_goods {
   width: 200px;
   height: 300px;
   border: 1px solid black;
   float: left;
   text-align: center;
   margin: 10px;
}

.single_goods button {
   display: block;
   margin: 20px auto;
}

body{
   font-size: 65px;
}
